/**
 * === BLOG ===
 */

/**
 * --- PREVIEWS ---
 */

.postPreview h1 {
    margin-bottom: 4px;

    transition-duration: 300ms;
}
.postPreview h1:hover {
    opacity: 0.6;
}
.postPreview h1:active {
    opacity: 0.4;
}
.postPreview .publishDate {
    color: #26474B;
}
.postPreview .publishDate::before {
    content: "@ ";
}

/**
 * --- PAGINATION ---
 */

ul.pagination {
    margin: 16px 0;

    list-style-type: none;
}
ul.pagination li {
    margin: 4px;

    font-family: monospace;

    display: inline;
}
ul.pagination li:first-child {
    margin-left: 0;
}
ul.pagination li.disabled a {
    color: #888888;
}
ul.pagination li.active a {
    color: #AA0D91;
}
