/**
 * === FOOTER ===
 */
 
.footer {
    padding-top: 16px;
    padding-bottom: 16px;
}

/**
 * --- LINKS ---
 */

.footer ul {
    margin: 0;

    list-style-type: none;
}
.footer li {
    display: inline-block;
}
.footer li a {
    padding: 8px;
}
.footer li:first-child a {
    padding-left: 0;
}

/**
 * --- COPYRIGHT ---
 */

.footer .copyright {
    color: #888888;
    font-size: 14px;
}
