/**
 * === FOOTER ===
 */
 
.footer {
    padding-top: 16px;
    padding-bottom: 16px;
}

/**
 * --- LINKS ---
 */

.footer ul {
    margin: 0 -8px;

    list-style-type: none;
}
.footer li {
    margin: 4px;

    display: inline-block;
}
.footer li a {
    padding: 4px;

    font-family: monospace;
}

/**
 * --- COPYRIGHT ---
 */

.footer .copyright {
    color: #888888;
    font-size: 14px;
}
