/**
 * === POSTS ===
 */

.post h1, .post-preview h2 {
    margin-bottom: 4px;
}
.post .publish-date, .post-preview .publish-date {
    color: #3F6E74;
}
.post .publish-date::before, .post-preview .publish-date::before {
    content: "@ ";
}
.post-preview summary {
    padding-bottom: 0;
}
.post-preview .read-more {
    font-size: 17px;
    font-family: monospace;
}

@media (min-width: 576px) {
    .post .publish-date, .post-preview .publish-date {
        margin-left: -20px;
    }
}

/**
 * --- PAGINATION ---
 */

ul.pagination {
    margin: 16px 0;

    list-style-type: none;
}
ul.pagination li {
    margin: 4px;

    font-family: monospace;

    display: inline;
}
ul.pagination li a {
    font-size: 17px;
}
ul.pagination li:first-child {
    margin-left: 0;
}
ul.pagination li.disabled a {
    color: #888888;
}
ul.pagination li.active a {
    color: #AA0D91;
}
