/*
 * === LAYOUT ===
 */

/*
 * --- BODY ---
 */

body {
    font-family: SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.5;
    background-color: #f7f7f7;
}

/*
 * --- MAIN ---
 */

main {
    padding-top: 56px;
    padding-bottom: 32px;

    background: white;
}
@media (min-width: 576px) {
    main {
        padding-top: 64px;
        padding-bottom: 42px;
    }
}

/*
 * --- CONTAINER ---
 */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 576px) {
    .container {
        max-width: 512px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 680px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

/*
 * === TEXT ===
 */

 /*
 * --- PARAGRAPHS ---
 */

p {
    padding-top: 8px;
    padding-bottom: 8px;

    color: #555555;
    font-size: 17px;
}

/*
 * --- TEXT STYLES ---
 */

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

sub, sup {
    font-size: 75%;
    line-height: 0;

    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/*
 * --- LINKS ---
 */

 a {
    color: #0E0EFF;
    text-decoration: none;

    transition-property: opacity;
    transition-duration: 300ms;
}
a:hover {
    opacity: 0.6;
}
a:active {
    opacity: 0.4;
}

/*
 * --- HEADLINES ---
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #222222;
    line-height: 1.1;
}
h1, h2 {
    font-weight: normal;
    font-family: monospace;
}
h1 {
    margin-left: -4px;
    margin-top: 20px;
    margin-bottom: 16px;

    color: #007400;
    font-size: 28px;
}
h1::before {
    padding-right: 8px;

    content: "//";
}
h2 {
    margin-top: 16px;
    margin-bottom: 12px;

    color: #643820;
    font-size: 24px;
}
h2::before {
    padding-right: 8px;

    content: "#";
}
h3 {
    margin-top: 16px;
    margin-bottom: 8px;

    font-size: 22px;
}
h4 {
    margin-top: 12px;
    margin-bottom: 6px;

    font-size: 20px;
}
h5 {
    margin-top: 8px;
    margin-bottom: 4px;

    font-size: 18px;
}
h6 {
    margin-top: 6px;
    margin-bottom: 2px;

    font-size: 17px;
}
a h1, a h2, a h3, a h4, a h5, a h6 {
    transition-property: opacity;
    transition-duration: 300ms;
}
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    opacity: 0.6;
}
a:active h1, a:active h2, a:active h3, a:active h4, a:active h5, a:active h6 {
    opacity: 0.4;
}

@media (min-width: 576px) {
    h1 {
        margin-left: -42px;
    }
    h2 {
        margin-left: -23px;
    }
}
@media (min-width: 768px) {
    h1 {
        margin-left: -53px;

        font-size: 36px;
    }
    h2 {
        margin-left: -26px;

        font-size: 28px;
    }
}

/*
 * --- DELIMITERS ---
 */

hr {
    margin: 24px 0;

    border: none;
    border-top: 1px solid #d6d6d6d6;
}

/*
 * --- CODE ---
 */

code {
    font-family: monospace;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
pre {
    padding: 8px;
    
    border: 1px solid #d6d6d6d6;
    border-radius: 4px;

    overflow-x: scroll;
}
pre > code {
    font-size: 14px;

    display: block;
}

/*
 * === LISTS ===
 */

ul, ol {
    margin-left: 32px;

    color: #555555;
    font-size: 17px;
}

/*
 * --- UNORDERED ---
 */

ul {
    list-style-type: disc;
}

/*
 * --- ORDERED ---
 */

ol {
    list-style-type: decimal;
}

/*
 * --- TASKS ---
 */

ul.task-list {
    margin-left: 16px;

    list-style-type: none;
}

/*
 * --- DEFINITIONS ---
 */

dl {
    background-color: #5C269922;
    border-radius: 4px;
}
dl dt {
    padding: 2px 8px;

    color: white;
    background-color: #5C2699;
}
dl dd {
    padding: 4px 8px;

    color: black;
}
dl dt:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/*
 * === BLOCKS ===
 */

/*
 * --- QUOTES ---
 */

blockquote {
    position: relative;

    margin: 8px 0;
    padding: 4px;
    padding-left: 12px;

    background-color: #AA0D9122;
    border-left: 4px solid #AA0D91;
    border-radius: 4px;
}
blockquote > p {
    padding: 4px 0;

    color: black;
}

/*
 * --- ADDRESSES ---
 */

address {
    position: relative;

    margin: 8px 0;
    padding: 4px;
    padding-left: 12px;

    font-family: monospace;
    font-size: 15px;
    background-color: #5C269922;
    border-left: 4px solid #5C2699;
    border-radius: 4px;
}
address > p {
    padding: 4px 0;

    color: black;
}

/*
 * --- SUMMARIES ---
 */

summary {
    padding: 16px 0;

    color: #555555;
    font-size: 17px;
    font-weight: bold;
}

/*
 * --- DETAILS ---
 */

details {
    padding-top: 8px;
    padding-bottom: 8px;
}
details p {
    padding-left: 18px;
}
details summary {
    color: #0E0EFF;
    outline: none;
}

/*
 * === FIGURES ===
 */

figure {
    max-width: 100%;
    margin: 8px 0;

    background-color: #3F6E74;
    border-radius: 4px;

    display: inline-block;
    overflow-x: scroll;
}
figcaption h4 {
    margin: 0 4px;
    margin-bottom: 8px;

    color: white;
    font-size: 15px;
    font-weight: normal;
}
figure img {
    margin: 2px;

    border-radius: 2px;
}

/*
 * === TABLES ===
 */

table th, table td {
    padding: 1px 8px;

    color: black;
}
table th {
    font-weight: bold;

    border-bottom: 1px solid #d6d6d6d6;
    border-right: 1px solid #d6d6d6d6;
}
table td {
    border-right: 1px solid #d6d6d6d6;
}
table th:last-child, table td:last-child {
    border-right: none;
}
