/*
 * === LAYOUT ===
 */

/*
 * --- BODY ---
 */

body {
    font-family: SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.5;
    
    background-color: #f7f7f7;
}

/*
 * --- MAIN ---
 */

main {
    padding-top: 72px;
    padding-bottom: 24px;

    background: white;
}

/*
 * --- CONTAINER ---
 */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 576px) {
    .container {
        max-width: 512px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 680px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

/*
 * === TEXT ===
 */

 /*
 * --- PARAGRAPHS ---
 */

p {
    padding-top: 8px;
    padding-bottom: 8px;

    color: #555555;
    font-size: 17px;
}

/*
 * --- TEXT STYLES ---
 */

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

sub, sup {
    font-size: 75%;
    line-height: 0;

    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/*
 * --- LINKS ---
 */

 a {
    color: #0E0EFF;
    font-family: monospace;
    text-decoration: none;

    transition-duration: 300ms;
}
a:hover {
    opacity: 0.6;
}
a:active {
    opacity: 0.4;
}

/*
 * --- HEADLINES ---
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #222222;
    line-height: 1.1;
}
h1 {
    margin-top: 20px;
    margin-bottom: 16px;

    font-size: 36px;
    font-weight: normal;
    font-family: monospace;
    color: #007400;
}
h1::before {
    content: "// ";
}
a h1 {
    transition-duration: 300ms;
}
a h1:hover {
    opacity: 0.6;
}
a h1:active {
    opacity: 0.4;
}
h2 {
    margin-top: 16px;
    margin-bottom: 12px;

    font-size: 28px;
}
h3 {
    margin-top: 12px;
    margin-bottom: 8px;

    font-size: 22px;
}
h4 {
    margin-top: 12px;
    margin-bottom: 6px;

    font-size: 20px;
}
h5 {
    margin-top: 8px;
    margin-bottom: 4px;

    font-size: 18px;
}
h6 {
    margin-top: 6px;
    margin-bottom: 2px;

    font-size: 17px;
}

@media (min-width: 650px) {
    h1 {
        margin-left: -65px;
    }
}
@media (min-width: 768px) {
    h1 {
        margin-left: 0;
    }
}
@media (min-width: 810px) {
    h1 {
        margin-left: -65px;
    }
}
@media (min-width: 992px) {
    h1 {
        margin-left: 0;
    }
}
@media (min-width: 1030px) {
    h1 {
        margin-left: -65px;
    }
}

/*
 * --- DELIMITERS ---
 */

hr {
    margin: 16px;

    border: none;
    border-top: 1px solid #d6d6d6d6;
}

/*
 * --- CODE ---
 */

code {
    font-family: monospace;
}
pre {
    padding: 8px;
    
    border: 1px solid #d6d6d6d6;
    border-radius: 4px;

    overflow-x: scroll;
}
pre > code {
    display: block;
}

/*
 * === LISTS ===
 */

ul, ol {
    margin-left: 32px;

    color: #555555;
    font-size: 17px;
}

/*
 * --- UNORDERED ---
 */

ul {
    list-style-type: disc;
}

/*
 * --- ORDERED ---
 */

ol {
    list-style-type: lower-roman;
}

/*
 * === BLOCKS ===
 */

/*
 * --- QUOTES ---
 */

blockquote {
    position: relative;

    padding: 4px;
    padding-left: 8px;

    background-color: #AA0D9122;
    border-left: 4px solid #AA0D91;
    border-radius: 4px;
}
blockquote > p {
    padding: 4px 0;

    color: black;
}

/*
 * --- ADDRESSES ---
 */

 address {
    position: relative;

    padding: 4px;
    padding-left: 8px;

    font-family: monospace;
    font-size: 15px;
    background-color: #5C269922;
    border-left: 4px solid #5C2699;
    border-radius: 4px;
}
address > p {
    padding: 4px 0;

    color: black;
}

/*
 * --- DETAILS ---
 */

details {
    padding-top: 8px;
    padding-bottom: 8px;
}
details p {
    padding-left: 18px;
}

summary {
    font-weight: 500;
    color: #0E0EFF;
    outline: none;
}

/*
 * === TABLES ===
 */

 table th, table td {
    padding: 1px 8px;

    color: black;
 }
 table th {
    font-weight: bold;

    border-bottom: 1px solid #d6d6d6d6;
    border-right: 1px solid #d6d6d6d6;
}
table td {
    border-right: 1px solid #d6d6d6d6;
}
table th:last-child, table td:last-child {
    border-right: none;
}
