{{ define "css" }}
    {{ partial "css" "posts" }}
{{ end }}

{{ define "content" }}
    <h1>About</h1>
    <p>
        <strong>Hey there!</strong><br>
        My name is <em>Steffen</em>, a <em>German</em> computer science student, and I'd like to welcome you to my personal website and blog!
    </p>
    <blockquote>
        <h6>🚧 Everything is still work-in-progress</h6>
        <p>
            Check back in few days for more content if you like :)
        </p>
    </blockquote>

    <hr>

    <h1>Posts</h1>

    {{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}
    {{ range $paginator.Pages }}
        {{ partial "posts/preview" . }}
    {{ end }}
    {{ template "_internal/pagination.html" . }}
{{ end }}
