{{ define "css" }}
    {{ partial "css" "posts" }}
{{ end }}

{{ define "content" }}
    <h1>About</h1>
    <p>
        <strong>Hello, World!</strong><br>
        My name is <em>Steffen</em> and I'd like to welcome you to my personal website and blog! I'm a <em>German</em> computer science student who really enjoys coding—especially for <em>Apple</em> platforms.
    </p>
    <p>
        If you like my content, consider giving my website one of your precious <em>GitHub</em> stars—thank you!
    </p>
    
    <iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fstoeffn%2Fstoeffn&data-text=Star&data-icon=octicon-star&data-size=large&data-show-count=true&aria-label=Star%20stoeffn%2Fstoeffn%20on%20GitHub" style="width: 64px; height: 28px; border: none;"></iframe>
    <iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fstoeffn&data-text=Follow%20%40stoeffn&data-size=large&data-show-count=true&aria-label=Follow%20%40stoeffn%20on%20GitHub" style="width: 136px; height: 28px; border: none;"></iframe>
    
    <hr />

    <h1>Posts</h1>

    {{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}
    {{ range $paginator.Pages }}
        {{ partial "posts/preview" . }}
    {{ end }}
    {{ template "_internal/pagination.html" . }}
{{ end }}
